{{#each flash_cards as |individual_flash_card|}}
{{!-- {{log individual_flash_card}} --}}
<!-- {{> partial}}
  Don't uncomment yet -->

<div>
    <h3 data-id="{{individual_flash_card.id}}"> <span style="red"> Example ID: {{individual_flash_card.id}} </span><strong>Fallacy
            Name: {{individual_flash_card.fallacy_name}}</strong><small> | Fallacy
            Example: {{individual_flash_card.fallacy_example}}</small> | </h3>

    <section data-id="{{individual_flash_card.id}}">
        <button type="submit" value="Remove" class="btn btn-danger">Remove Example</button>
        {{!-- <button type="submit" class="btn btn-primary">Edit Example</button> --}}
    </section>
</div>

{{/each}}


{{!--
<div>
    <h1>Name of Fallacy</h1>
    <p>The fallacy example goes inside of these tags</p>
    <button>Delete Example</button>
    <button> Edit Example </button>
</div> --}}

{{!--
{{#each books as |book|}}
{{log book}}
<!-- {{> partial}}
  Don't uncomment yet -->

<div>
    <h1 data-id="{{book.id}}"> <small>Title: {{limit book.title 10}}</small></h1>
    <section data-id="{{book.id}}">
        <p>{{#if book.author}}
            By: {{book.author}}
            {{else}}
            No author provided.
            {{/if}}
        </p>
        <button type="submit" class="btn btn-default">Remove</button>
    </section>
</div>

{{/each}} --}}