{{#each flash_cards as |individual_flash_card|}}
{{!-- {{log individual_flash_card}} --}}

<section class="handlebars-card-section" style="background: url(https://images-na.ssl-images-amazon.com/images/I/71atJIqKIcL._SL1500_.jpg)no-repeat center; width: 70vw; margin-left: 10px; border: 1px black solid">
    <div>
        <h3 style="
    margin-left: 20px" data-id="{{individual_flash_card.id}}"> <small>Fallacy:</small> <br /><strong>{{individual_flash_card.fallacy_name}}</strong>
            <br> <small> <br /> Example: </small> <br /> <br />{{individual_flash_card.fallacy_example}} <br /> <span
                style="color: crimson; margin-left: -5px"><br />
                Index Card ID:
                {{individual_flash_card.id}}
            </span>
        </h3>
    </div>


    <div class="delete-card-button">
        <button data-id="{{individual_flash_card.id}}" type="submit" style="margin-left: 15px" class="btn btn-danger">Remove
            Card</button>
    </div>
</section>


<section class="update-example-section" style="margin-left: 10px">
    <form data-id="{{individual_flash_card.id}}" class="update-example-form">
        <h1>Edit your example</h1>
        <input name="flash_card[fallacy_name]" type="text" class="question" required autocomplete="off" />

        <label for="fallacy-name-input"><span>Edit name of logical fallacy</span></label>
        <textarea style="margin-bottom: -25px" name="flash_card[fallacy_example]" rows="2" class="question" required
            autocomplete="off"></textarea>
        <label for="example-input"><span>Edit example of logical fallacy</span></label>
        <br />
        <button type="submit" class="btn btn-primary" value="Submit!">Submit your Edit!</button>
    </form>

    <br />
    <br />

</section>


<br />

{{/each}}